target/mvn-eclipse-cache.properties
*.class
target/
*.iml
.idea/
logs/
.classpath
.project
.settings/
.amateras
/target*
*.log*

/target/

*.jar
*.war
*.ear
/.idea/
src/main/java/com/cloudzone/cloudlimiter/tps/
